<div class="text-center hero my-5">
    <img class="mb-3 app-logo" src="../../assets/logo.png" alt="MedDiag logo" />
    <h1 class="mb-4">Best online medical diagnostic app</h1>

    <p>
      Even if the final diagnostic migth be very close to the real problem, please see a doctor before following a certain treatment.
     
    </p>

    <div id="wrapper" class = "my-auto">
      <a routerLink="/diagnose" class="my-super-cool-btn">
        <div class="dots-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <span>GO!</span>
      </a>
    </div>
   

  </div>

