
<div class="container center">
    <div class="card" *ngIf="diagnosticId == '1'">
      <h2>Common cold</h2>
      <hr/>
      <p>The common cold, also known simply as a cold, is a viral infectious disease of the upper respiratory tract that primarily affects the nose. 
        The throat, sinuses, and larynx may also be affected. Signs and symptoms may appear less than two days after exposure to the virus. These may 
        include coughing, sore throat, runny nose, sneezing, headache, and fever. People usually recover in seven to ten days,[2] but some symptoms may 
        last up to three weeks. Occasionally those with other health problems may develop pneumonia.
    </p>
      <button (click)="createDiagnostic()">Save</button>
    </div>
    <div class="card" *ngIf="diagnosticId == '2'">
        <h2>Respiratory Syncytial Virus (RSV)</h2>
        <hr/>
        <p>Respiratory syncytial virus (RSV) is a common, and very contagious, virus that infects the respiratory tract of most people.
          For the most of the population, the infection causes nothing more than a cold. But for a small percentage, infection with RSV can lead to serious, sometimes life-threatening problems such as pneumonia or bronchiolitis, an inflammation of the small airways of the lungs.
          
          
      </p>
        <button (click)="createDiagnostic()">Save</button>

    </div>
    <div class="card" *ngIf="diagnosticId == '3'">
      <h2>Respiratory Syncytial Virus (RSV)</h2>
      <hr/>
      <p>Respiratory syncytial virus (RSV) is a common, and very contagious, virus that infects the respiratory tract of most people.
        For the most of the population, the infection causes nothing more than a cold. But for a small percentage, infection with RSV can lead to serious, sometimes life-threatening problems such as pneumonia or bronchiolitis, an inflammation of the small airways of the lungs.
    </p>
      <button (click)="createDiagnostic()">Save</button>

  </div><div class="card" *ngIf="diagnosticId == '4'">
    <h2>Respiratory Syncytial Virus (RSV)</h2>
    <hr/>
    <p>Respiratory syncytial virus (RSV) is a common, and very contagious, virus that infects the respiratory tract of most people.
      For the most of the population, the infection causes nothing more than a cold. But for a small percentage, infection with RSV can lead to serious, sometimes life-threatening problems such as pneumonia or bronchiolitis, an inflammation of the small airways of the lungs.
  </p>
    <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '5'">
  <h2>Broken blood vessels in your nose</h2>
  <hr/>
  <p>If you’re sick and coughing a lot, you may notice blood-tinged mucus. This can come from broken blood vessels in your nose or throat. In some cases, it can also be a sign of cancer. Your doctor can do tests to find out the cause.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '6'">
  <h2>Broken blood vessels in your nose</h2>
  <hr/>
  <p>If you’re sick and coughing a lot, you may notice blood-tinged mucus. This can come from broken blood vessels in your nose or throat. In some cases, it can also be a sign of cancer. Your doctor can do tests to find out the cause.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '7'">
  <h2>Acute bronchitis</h2>
  <hr/>
  <p>The most obvious symptom of acute bronchitis is a short-term dry hacking cough, which can become a productive cough that produces white or yellow sputum.
     Other symptoms may be wheezing and shortness of breath. As with any infection, there may also be associated fever, sore throat, chills, aches and pains, and a general feeling of tiredness and being unwell.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '8'">
  <h2>Acute bronchitis</h2>
  <hr/>
  <p>The most obvious symptom of acute bronchitis is a short-term dry hacking cough, which can become a productive cough that produces white or yellow sputum.
    Other symptoms may be wheezing and shortness of breath. As with any infection, there may also be associated fever, sore throat, chills, aches and pains, and a general feeling of tiredness and being unwell.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '9'">
  <h2>Acute bronchitis</h2>
  <hr/>
  <p>The most obvious symptom of acute bronchitis is a short-term dry hacking cough, which can become a productive cough that produces white or yellow sputum.
    Other symptoms may be wheezing and shortness of breath. As with any infection, there may also be associated fever, sore throat, chills, aches and pains, and a general feeling of tiredness and being unwell.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '10'">
  <h2>Pneumonia </h2>
  <hr/>
  <p>Symptoms of pneumonia depend on the severity of the disease (which is related to the cause, your age and your general health). Please consider in this period to do a COVID-19 testing, as 
    the virus can cause a range of symptoms, from ranging from mild illness to pneumonia. Symptoms of the disease are fever, cough, sore throat and headaches.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '11'">
  <h2>Pneumonia </h2>
  <hr/>
  <p>Symptoms of pneumonia depend on the severity of the disease (which is related to the cause, your age and your general health). Please consider in this period to do a COVID-19 testing, as 
    the virus can cause a range of symptoms, from ranging from mild illness to pneumonia. Symptoms of the disease are fever, cough, sore throat and headaches.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '12'">
  <h2>Pneumonia </h2>
  <hr/>
  <p>Symptoms of pneumonia depend on the severity of the disease (which is related to the cause, your age and your general health). Please consider in this period to do a COVID-19 testing, as 
    the virus can cause a range of symptoms, from ranging from mild illness to pneumonia. Symptoms of the disease are fever, cough, sore throat and headaches.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '13'">
  <h2>Chronic bronchitis</h2>
  <hr/>
  <p>The most common symptoms of chronic bronchitis are a recurrent or persistent productive cough, wheezing, and gradually worsening shortness of breath. 
    Other symptoms include fatigue, sore throat, nasal congestion and headaches. Severe coughing may cause chest pain and cyanosis, which is a blue/grey colouration of the skin. Recurrent infection of the airways is also a sign of chronic bronchitis.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '14'">
  <h2>COVID-19</h2>
  <hr/>
  <p>The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic of coronavirus disease 2019 (COVID‑19), 
    caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2). The outbreak was first identified in Wuhan, China, in December 2019.
     The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020, and a pandemic on 11 March.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '15'">
  <h2>COVID-19</h2>
  <hr/>
  <p>The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic of coronavirus disease 2019 (COVID‑19), 
    caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2). The outbreak was first identified in Wuhan, China, in December 2019.
     The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020, and a pandemic on 11 March.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '16'">
  <h2>COVID-19</h2>
  <hr/>
  <p>The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic of coronavirus disease 2019 (COVID‑19), 
    caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2). The outbreak was first identified in Wuhan, China, in December 2019.
     The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020, and a pandemic on 11 March.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div>
<div class="card" *ngIf="diagnosticId == '17'">
  <h2>Viral Pneumonia</h2>
  <hr/>
  <p>Many viruses can lead to pneumonia, including the flu virus or RSV. These diseases don’t respond to antibiotics and treatment is usually helpful, 
    although anti-virals may be required. Symptoms are similar to bacterial pneumonia but may also include headaches, extreme fatigue, or decreased appetite. 
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '18'">
  <h2>Viral Pneumonia</h2>
  <hr/>
  <p>Many viruses can lead to pneumonia, including the flu virus or RSV. These diseases don’t respond to antibiotics and treatment is usually helpful, 
    although anti-virals may be required. Symptoms are similar to bacterial pneumonia but may also include headaches, extreme fatigue, or decreased appetite. 
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '19'">
  <h2>Viral Pneumonia</h2>
  <hr/>
  <p>Many viruses can lead to pneumonia, including the flu virus or RSV. These diseases don’t respond to antibiotics and treatment is usually helpful, 
    although anti-virals may be required. Symptoms are similar to bacterial pneumonia but may also include headaches, extreme fatigue, or decreased appetite. 
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '20'">
  <h2>Viral Pneumonia</h2>
  <hr/>
  <p>Many viruses can lead to pneumonia, including the flu virus or RSV. These diseases don’t respond to antibiotics and treatment is usually helpful, 
    although anti-virals may be required. Symptoms are similar to bacterial pneumonia but may also include headaches, extreme fatigue, or decreased appetite. 
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '21'">
  <h2>Viral Pneumonia</h2>
  <hr/>
  <p>Many viruses can lead to pneumonia, including the flu virus or RSV. These diseases don’t respond to antibiotics and treatment is usually helpful, 
    although anti-virals may be required. Symptoms are similar to bacterial pneumonia but may also include headaches, extreme fatigue, or decreased appetite. 
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '22'">
  <h2>Viral Pneumonia</h2>
  <hr/>
  <p>Many viruses can lead to pneumonia, including the flu virus or RSV. These diseases don’t respond to antibiotics and treatment is usually helpful, 
    although anti-virals may be required. Symptoms are similar to bacterial pneumonia but may also include headaches, extreme fatigue, or decreased appetite. 
</p>
  <button (click)="createDiagnostic()">Save</button>

</div>

</div>

<!-- <div class="courses-container container">
    <div class="course" *ngIf="diagnosticId == '1'">          
              <h1>Common cold</h1>
              <h2>The common cold, also known simply as a cold, is a viral infectious disease of the upper respiratory tract that primarily affects the nose. 
                  The throat, sinuses, and larynx may also be affected. Signs and symptoms may appear less than two days after exposure to the virus. These may 
                  include coughing, sore throat, runny nose, sneezing, headache, and fever. People usually recover in seven to ten days,[2] but some symptoms may 
                  last up to three weeks. Occasionally those with other health problems may develop pneumonia.</h2>  
    </div>

    <div class="course" *ngIf="diagnosticId == '2'">
        <h1> <p> Flu</p> </h1>
       &nbsp;
        <h2>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
            The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
             These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
             Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.</h2>


          
    
    </div>  
    
    <button class="btn" >Continue</button>
</div>
   -->
 