
<div class="container center">
    <div class="card" *ngIf="diagnosticId == '1'">
      <h2>Common cold</h2>
      <hr/>
      <p>The common cold, also known simply as a cold, is a viral infectious disease of the upper respiratory tract that primarily affects the nose. 
        The throat, sinuses, and larynx may also be affected. Signs and symptoms may appear less than two days after exposure to the virus. These may 
        include coughing, sore throat, runny nose, sneezing, headache, and fever. People usually recover in seven to ten days,[2] but some symptoms may 
        last up to three weeks. Occasionally those with other health problems may develop pneumonia.
    </p>
      <button (click)="createDiagnostic()">Save</button>
    </div>
    <div class="card" *ngIf="diagnosticId == '2'">
        <h2>Flu</h2>
        <hr/>
        <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
            The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
             These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
             Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
      </p>
        <button (click)="createDiagnostic()">Save</button>

    </div>
    <div class="card" *ngIf="diagnosticId == '3'">
      <h2>Flu</h2>
      <hr/>
      <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
          The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
           These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
           Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
    </p>
      <button (click)="createDiagnostic()">Save</button>

  </div><div class="card" *ngIf="diagnosticId == '4'">
    <h2>Flu</h2>
    <hr/>
    <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
        The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
         These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
         Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
  </p>
    <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '5'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '6'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '7'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '8'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '9'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '10'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '11'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '12'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '13'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '14'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '15'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '16'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div>
<div class="card" *ngIf="diagnosticId == '17'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '18'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '19'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '20'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '21'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div><div class="card" *ngIf="diagnosticId == '22'">
  <h2>Flu</h2>
  <hr/>
  <p>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
      The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
       These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
       Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.
</p>
  <button (click)="createDiagnostic()">Save</button>

</div>

</div>

<!-- <div class="courses-container container">
    <div class="course" *ngIf="diagnosticId == '1'">          
              <h1>Common cold</h1>
              <h2>The common cold, also known simply as a cold, is a viral infectious disease of the upper respiratory tract that primarily affects the nose. 
                  The throat, sinuses, and larynx may also be affected. Signs and symptoms may appear less than two days after exposure to the virus. These may 
                  include coughing, sore throat, runny nose, sneezing, headache, and fever. People usually recover in seven to ten days,[2] but some symptoms may 
                  last up to three weeks. Occasionally those with other health problems may develop pneumonia.</h2>  
    </div>

    <div class="course" *ngIf="diagnosticId == '2'">
        <h1> <p> Flu</p> </h1>
       &nbsp;
        <h2>Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus. Symptoms can be mild to severe. 
            The most common symptoms include: high fever, runny nose, sore throat, muscle and joint pain, headache, coughing, and feeling tired.
             These symptoms typically begin two days after exposure to the virus and most last less than a week. The cough, however, may last for more than two weeks.          
             Complications of influenza may include viral pneumonia, secondary bacterial pneumonia, sinus infections, and worsening of previous health problems such as asthma or heart failure.</h2>


          
    
    </div>  
    
    <button class="btn" >Continue</button>
</div>
   -->
 