<div class="next-steps my-5">
    <h2 class="my-5 text-center">Why choosing this app?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/connections">
            <fa-icon [icon]="faLink"></fa-icon> Ease of use
          </a>
        </h6>
        <p>
          This web application was designed in order to be used easily by a large category of people.
          From young people to the elders, MedDiag can provide a fast and easy flow of diagnostic, providing a 
          final result as close as possible to the real problem.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/multifactor-authentication">
            <fa-icon [icon]="faLink"></fa-icon> High precision diagnostic
          </a>
        </h6>
        <p>
          The system uses a vast amount of data to give to the end user a precise result. We store in our database over 1 million sympthoms! 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/anomaly-detection">
            <fa-icon [icon]="faLink"></fa-icon> It's free
          </a>
        </h6>
        <p>
          Exactly! In comparison with other apps, MedDiag is a free service that has no ads besides the fact it comes with 0 costs!
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/rules">
            <fa-icon [icon]="faLink"></fa-icon> Based on AI
          </a>
        </h6>
        <p>
          Latest technologies are used to find the right diagnostic. AI helps us improving our life and can have a positive impact on everyone who tries "playing with it".
        </p>
      </div>
    </div>
  </div>
